@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-secondary-light text-icon-focus-light flex flex-col items-center min-h-screen min-w-full font-sans overflow-x-hidden;
  }

  code {
    background-color: #011627;
    color: #d6deeb;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.4em;
    border-width: 1px;
    border-style: solid;
    padding: 0.2em 0.4em;
  }

  .button {
    @apply transition-all duration-300 ease-in-out scale-100 shadow-md  shadow-black active:translate-y-1 active:shadow-none px-8 py-3 m-2 
                text-lg font-semibold rounded;
  }
}
